{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  {% if user.is_authenticated %}
    <h1>Olá {{ user.username }}!</h1>
  {% else %}
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <form>
        <div class="form-group">
            <label for="inputUsername">Usuário:</label>
            <input
            type="text"
            class="form-control"
            id="inputUsername"
            name="username"
            aria-describedby="userHelp"
            placeholder="Insira o usuário"
            required
            />
            <small id="userHelp" class="form-text text-muted"
            >Não compartilhe suas crendenciais com ninguém</small
            >
        </div>

        <div class="form-group">
            <label for="inputSenha">Senha</label>
            <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Senha"
            required
            />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
    </form>
  {% endif %}
</div>

{% endblock %}